langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-openai==0.1.7
langchain-groq==0.1.10
langchain-text-splitters==0.2.4
python-dotenv
streamlit
ipykernel
pypdf
bs4
arxiv==1.4.8
pymupdf
wikipedia
langchain_chroma==0.1.4
langchain_huggingface==0.0.3
faiss-cpu
duckdb
torchvision
chromadb==0.5.3
duckduckgo-search
SQLAlchemy
mysql-connector-python
validators==0.28.1
youtube_transcript_api==1.2.4
unstructured
pytube==15.0.0
numexpr